*{
    padding: 0;
    margin: 0;
    font-family: 'Wix Madefor Text'
}


.map {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    
}
.error-img {
    width: 400px;
    height: 400px;
}
.searchBar {
    position: absolute;
    display: grid;
    z-index: 2;
    top: 2%;
    left: 5%;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.589);
    padding: 12px;
    border: none;
    border-radius: 10px;
    
}
.header {
    position: absolute;
    z-index: 2;
    top: 4%;
    left: 4%
}

.searchName {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2px;
}

h3 {
    font-size: 14px;
}

.nasa {
    position: relative;
    height: 50px;
}

.nasa-header {
    display: flex;
    margin-bottom: 1px;
}

h1 {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 1.8rem;
}

button {
    margin: 5px;
}
h3 {
    margin: 1px;
}

button {
    padding: 2px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}